<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /jervis/app/zen/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jervis/app/zen/index.php [L]
</IfModule>